@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.header{
    height: 60vh;
    position: relative;
    background-color: #2828284d;
}
.header h1{
    color: #fff;
    text-shadow: 5px 5px 5px #282828;
    font-size: 2.5rem;
    font-family: 'Anonymous Pro', monospace;
    border: 3px solid skyblue;
    padding: 10px 5px;
    background-color: #1e2552a6;
}
.header p{
    font-size: 1rem;
    text-decoration: underline;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.downArrow a{
  color: tomato;
  font-size: 30px;
}