.footer{
    height: 60vh;
    position: relative;
    background-color: #2828284d;
}
.footer h1{
    color: #fff;
    text-shadow: 5px 5px 5px #282828;
    font-size: 2.5rem;
    font-family: 'Anonymous Pro', monospace;
    border: 3px solid skyblue;
    padding: 10px 5px;
    background-color: #1e2552a6;
}


.footer p a{
    text-decoration: none;
    color:#282828;
    font-size:1.2rem ;
    padding: 5px;
    margin: 5px;
    background-color: lightcoral;
    border-radius: 5px;
}
.facebook{
    font-size: 2rem !important;
    background-color: transparent !important;
    color: #1877F2 !important;
    padding: 10px;
}
.LinkedIn{
    font-size: 2rem !important;
    background-color: transparent !important;
    color: blue !important;
    padding: 10px;
}