html{
  scroll-behavior: smooth;
}

.head-section{
    border-bottom: 7px solid;
    border-image: linear-gradient(30deg,  turquoise, tomato);
    border-image-slice:1;
    margin:100px auto;
}
.progress{
  background-color: #e9ecef00 important;
  margin:30px 0;
}
.box{
  transform: translate(0%);
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
}

.box:before{
  content: '';
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.facebook{
  font-size: 2rem !important;
  background-color: transparent !important;
  color: #1877F2 !important;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.facebook:hover{
  background-color: #ddd !important;
  color: #000 !important;
  cursor: pointer;
}
.LinkedIn{
  font-size: 2rem !important;
  background-color: transparent !important;
  color: blue !important;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.LinkedIn:hover{
  background-color: #ddd !important;
  color: #000 !important;
  cursor: pointer;
}

.github{
  font-size: 2rem !important;
  background-color: transparent !important;
  color: #282828 !important;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.github:hover{
  background-color: #ddd !important;
  color: #000 !important;
  cursor: pointer;
}





.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}



.box span:nth-child(3)
{
  transform:rotate(180deg);
}



.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
} 